<div th:fragment="header">

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">

        <a class="navbar-brand fw-bold" href="/">OLX Demo</a>

        <form class="d-flex ms-3 w-50">
            <input class="form-control me-2" type="search" placeholder="Buscar productos...">
            <button class="btn btn-light">Buscar</button>
        </form>

        <div class="ms-auto">
            <a href="#" class="btn btn-light me-2">Login</a>
            <a href="/products/new" class="btn btn-warning">Publicar</a>
        </div>

    </div>
</nav>

</div>